// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}

.credits {
  text-align: center;
  margin-bottom: 0;
}

.hotdog-instance {
  border: 1px solid #dddae0;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  }

  h6 {
    overflow: hidden;
    width: 150px;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 0;
    padding: 2px 5px;
  }
}

.selected {
  box-sizing: border-box;
  border: 1px solid $active-hotdog;
  background-color: $active-hotdog;

  h6 {
    color: white;
  }
}
